src/main/flows/LogikTransactionToAsset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ModifyAssets</name>
        <label>Modify Assets</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <actionName>TransactionToAssetFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ApexErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>changeType</name>
            <value>
                <elementReference>changeType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TransactionToAssetFlowHelper</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>ChangeTypeAdd</name>
        <label>Change Type = Add</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>changeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ModifyAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeTypeAmend</name>
        <label>Change Type = Amend</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>changeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ModifyAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeTypeRenew</name>
        <label>Change Type = Renew</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>changeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renew</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ModifyAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReassignRecordId</name>
        <label>Re-assign recordId</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.LGK__PrimaryTransactionId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTriggeringTransaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsPrimaryTransactionPresent</name>
        <label>Is Primary Transaction Present?</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ReassignRecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transaction Found</defaultConnectorLabel>
        <rules>
            <name>PrimaryTransactionMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.LGK__PrimaryTransactionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingPrimaryTransactionScreen</targetReference>
            </connector>
            <label>Transaction Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordSobjectType</name>
        <label>Record Type?</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>GetTriggeringTransaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>RecordIsOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>TransactionFieldsMissing</name>
        <label>Required Fields Missing?</label>
        <locationX>710</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>MissingFieldsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fields Missing</defaultConnectorLabel>
        <rules>
            <name>NoMissingFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTriggeringTransaction.LGK__AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TransactionType</targetReference>
            </connector>
            <label>No Missing Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>TransactionType</name>
        <label>Transaction Type</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>ChangeTypeAdd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Transaction</defaultConnectorLabel>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTriggeringTransaction.TransactionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeTypeAmend</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTriggeringTransaction.TransactionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeTypeRenew</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Logik.ai Transaction to Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Logik.ai Transaction to Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPrimaryTransactionPresent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTriggeringTransaction</name>
        <label>GetTriggeringTransaction</label>
        <locationX>710</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TransactionFieldsMissing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LGK__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ApexErrorScreen</name>
        <label>Apex Error Screen</label>
        <locationX>842</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApexErrorText</name>
            <fieldText>&lt;p&gt;&lt;code&gt;{!$Flow.FaultMessage}&lt;/code&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinishScreen</name>
        <label>Finish Screen</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Asset(s) updated for transaction {!GetTriggeringTransaction.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!AccountRedirectLink} or click &quot;Close&quot; to remain on this page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingFieldsScreen</name>
        <label>Missing Field(s) Screen</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingDateDisplayText</name>
            <fieldText>&lt;p&gt;One or more required fields are missing for &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Transaction {!GetTriggeringTransaction.Id}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Account: {!GetTriggeringTransaction.LGK__AccountId__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please review the Transaction and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingPrimaryTransactionScreen</name>
        <label>Missing Primary Transaction</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingPrimaryTransactionText</name>
            <fieldText>&lt;p&gt;Opportunity {!GetOpportunity.Id} does not have a Primary Transaction (LGK__PrimaryTransactionId__c) assigned to it. Please review the Opportunity and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordSobjectType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AccountRedirectLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Account/{!GetTriggeringTransaction.LGK__AccountId__c}/view&quot; target=&quot;_self&quot;&gt;View Account&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>changeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
