src/main/flows/LogikAssetToTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateTransaction</name>
        <label>Create Transaction</label>
        <locationX>594</locationX>
        <locationY>1922</locationY>
        <actionName>AssetToTransactionFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CompletedScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ApexErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>assetIdList</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>changeType</name>
            <value>
                <elementReference>changeType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AssetToTransactionFlowHelper</nameSegment>
        <outputParameters>
            <assignToReference>newTransactionId</assignToReference>
            <name>newTransactionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AddToRenewalOpportunityLinesList</name>
        <label>Add to Lines List</label>
        <locationX>682</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>RenewalOpportunityLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempOpportunityLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetTempVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToUpdateAssets</name>
        <label>Add to UpdateAssets</label>
        <locationX>682</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverAssetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOpportunityLineFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetTempVariable</name>
        <label>Reset Temp Opportunity Line</label>
        <locationX>682</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>TempOpportunityLine</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverAssetIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOpportunityLineFields</name>
        <label>Set Opportunity Line Fields</label>
        <locationX>682</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TempOpportunityLine.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpportunityLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverAssetIds.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpportunityLine.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverAssetIds.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpportunityLine.AssetId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverAssetIds.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpportunityLine.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverAssetIds.Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToRenewalOpportunityLinesList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOpportunityToAsset</name>
        <label>Set Opportunity on Asset</label>
        <locationX>682</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>LoopOverAssetIds.OpportunityId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOpportunityType</name>
        <label>Set Opportunity Type</label>
        <locationX>594</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RenewalOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRenewalOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssetListSizeCheck</name>
        <label>Asset Records Found?</label>
        <locationX>374</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ChangeTypeCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset Records Found</defaultConnectorLabel>
        <rules>
            <name>NoAssetRecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAssetList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoAssetRecordsFoundScreen</targetReference>
            </connector>
            <label>No Asset Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChangeTypeCheck</name>
        <label>Change Type?</label>
        <locationX>594</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>InvalidChangeType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Change Type</defaultConnectorLabel>
        <rules>
            <name>ChangeTypeAmend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>changeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTransaction</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
        <rules>
            <name>ChangeTypeRenew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityFieldsScreen</targetReference>
            </connector>
            <label>Renew</label>
        </rules>
    </decisions>
    <decisions>
        <name>IdListSizeCheck</name>
        <label>Id List Empty?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>GetAssetList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Id List Not Empty</defaultConnectorLabel>
        <rules>
            <name>IdListEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoAssetRecordsFoundScreen</targetReference>
            </connector>
            <label>Id List Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LogikAssetToTransaction {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Logik.ai Asset to Transaction</label>
    <loops>
        <name>LoopOverAssetIds</name>
        <label>Loop Over Asset Ids</label>
        <locationX>594</locationX>
        <locationY>890</locationY>
        <collectionReference>GetAssetList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetOpportunityToAsset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAssetList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOpportunityLineItems</name>
        <label>Create Opportunity Products</label>
        <locationX>594</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>CreateTransaction</targetReference>
        </connector>
        <inputReference>RenewalOpportunityLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateRenewalOpportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>594</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>LoopOverAssetIds</targetReference>
        </connector>
        <inputReference>RenewalOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAssetList</name>
        <label>Get Asset List</label>
        <locationX>374</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetListSizeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>TransactionLineId__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssetList</name>
        <label>Update Assets List with Renewal Opportunity</label>
        <locationX>594</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>CreateOpportunityLineItems</targetReference>
        </connector>
        <inputReference>UpdateAssets</inputReference>
    </recordUpdates>
    <screens>
        <name>ApexErrorScreen</name>
        <label>Apex Error Screen</label>
        <locationX>1122</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApexErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: monospace, monospace; color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompletedScreen</name>
        <label>CompletedScreen</label>
        <locationX>594</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewTransactionFrame</name>
            <extensionName>LGK:transactionScreenFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>transactionId</name>
                <value>
                    <elementReference>newTransactionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InvalidChangeType</name>
        <label>Invalid Change Type</label>
        <locationX>858</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidChangeTypeTextField</name>
            <fieldText>&lt;p&gt;Invalid Change Type: {!changeType}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoAssetRecordsFoundScreen</name>
        <label>No Asset Records Found Screen</label>
        <locationX>176</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>NoRecordsDisplayText</name>
            <fieldText>&lt;p&gt;No Asset records were found with the following Ids: {!ids}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpportunityFieldsScreen</name>
        <label>OpportunityFieldsScreen</label>
        <locationX>594</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>SetOpportunityType</targetReference>
        </connector>
        <fields>
            <name>OpportunityFieldsHeader</name>
            <fieldText>New Opportunity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OpportunityFieldsHeader_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RenewalOpportunity.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RenewalOpportunity.CloseDate</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OpportunityFieldsHeader_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RenewalOpportunity.StageName</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RenewalOpportunity.Pricebook2Id</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IdListSizeCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>changeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RenewalOpportunityLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TempOpportunityLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>UpdateAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
